{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="wrapper companyheader">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </div>
    <nav>
        <div class="wrapper clearfix">
            {{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}
        </div>
    </nav>
</header>

<section>
    {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum Alam", "defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': true})|raw}}
</section>

<div class="main clearfix">
    {{zone('main')|raw}}
</div>  

<footer class="bk-footer">
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                {{widget('content', 'footercolumn1content1', {"content":"<h4>Aliquam Sodales</h4>"})|raw}}
                {{widget('profile', 'footercolumn1profileemail', { 'profileType':'email', 'email':'profile'})|raw}}
                {{widget('profile', 'footercolumn1profilephone', { 'profileType':'phone', 'phone':'profile'})|raw}}
            </div>
            <div class="column columns-two-right">
                {{widget('content', 'footercolumn2content1', {"content":"<h4>Lorem Ipsum</h4>"})|raw}}
                {{widget('profile', 'footercolumn2profiletweet', { 'profileType':'twitter', 'tweet':'profile'})|raw}}
                {{widget('profile', 'footercolumn2profilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
            </div>
        </div>
    </div>
</footer>

{% endblock %}
